
back_train/.settings/

back_train/.DS_Store
back_train/.classpath
back_train/.project
back_train/hs_err_pid2583.log
back_train/package-lock.json
back_train/src/.DS_Store
back_train/src/main/.DS_Store
back_train/src/main/resources/.DS_Store
back_train/target/
front_train/.DS_Store
front_train/assets/.DS_Store
front_train/bin/

front_train/node_modules/

front_train/src/js/.DS_Store
.DS_Store
front_train/package-lock.json
